[package]
name = "gcop-rs"
version = "0.1.0"
edition = "2024"
license = "MIT"
description = "Git Copilot, but written in Rust."
authors = ["AptS-1547 <apts-1547@esaps.net>"]

# 优化配置
[profile.dev]
opt-level = 1
lto = false
codegen-units = 16
panic = "unwind"
strip = false
incremental = true

[profile.release]
opt-level = "s"
lto = true
codegen-units = 1
panic = "abort"
strip = false

[profile.release-debug]
inherits = "release"
codegen-units = 1
debug = true
strip = false
lto = false

[dependencies]
